<!--
  Generated template for the ProductDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title item-center>产品详细</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab mini (click)="communicate()">
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
  </ion-fab>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新页面" refreshingSpinner="circles" refreshingText="刷新中......">
    </ion-refresher-content>
  </ion-refresher>
  <ion-item>
    产品编号
    <ion-note item-right>
      {{product?.id}}
    </ion-note>
  </ion-item>
  <ion-item text-wrap>
    产品名称
    <ion-note>
      <br>{{product?.name}}
    </ion-note>
  </ion-item>
  <ion-item text-wrap>
    详细描述
    <ion-note>
      <br>{{product?.description}}
    </ion-note>
  </ion-item>
  <ion-item>
    创建人
    <ion-note item-right>
      {{product?.creator}}
    </ion-note>
  </ion-item>
  <ion-item>
    创建时间
    <ion-note item-right>
      {{product?.createdTime | date:"yyyy年MM月dd日 HH:mm:ss"}}
    </ion-note>
  </ion-item>
  <ion-item>
    产品经理
    <ion-note item-right>
      {{product?.productManager}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="product?.marketingManager!=null">
    市场经理
    <ion-note item-right>
      {{product?.marketingManager}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="product?.developmentManager!=null">
    研发经理
    <ion-note item-right>
      {{product?.developmentManager}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="product?.otherExecutors!=null">
    其他执行人
    <ion-note item-right>
      {{product?.otherExecutors}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="product?.planningReleaseDate!=null">
    计划发布日期
    <ion-note item-right>
      {{product?.planningReleaseDate | date:"yyyy年MM月dd日"}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="product?.realReleaseDate!=null">
    实际发布日期
    <ion-note item-right>
      {{product?.realReleaseDate | date:"yyyy年MM月dd日"}}
    </ion-note>
  </ion-item>
  <ion-item>
    状态
    <ion-note item-right>
      {{product?.status}}
    </ion-note>
  </ion-item>
</ion-content>
