<!--
  Generated template for the TaskDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title item-center>任务详细</ion-title>
    <ion-buttons *ngIf="menuAble" end>
      <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab mini (click)="communicate()">
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
  </ion-fab>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新页面" refreshingSpinner="circles" refreshingText="刷新中......">
    </ion-refresher-content>
  </ion-refresher>
  <ion-item>
    任务编号
    <ion-note item-right>
      {{task?.id}}
    </ion-note>
  </ion-item>
  <ion-item text-wrap>
    任务名称
    <ion-note>
      <br>{{task?.name}}
    </ion-note>
  </ion-item>
  <ion-item text-wrap>
    详细描述
    <ion-note>
      <br>{{task?.description}}
    </ion-note>
  </ion-item>
  <ion-item>
    创建人
    <ion-note item-right>
      {{task?.creator}}
    </ion-note>
  </ion-item>
  <ion-item>
    创建时间
    <ion-note item-right>
      {{task?.createdTime | date:"yyyy年MM月dd日 HH:mm:ss"}}
    </ion-note>
  </ion-item>
  <ion-item>
    销售负责人
    <ion-note item-right>
      {{task?.primarySeller}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="task?.requiringEndDate!=null">
    要求截止日期
    <ion-note item-right>
      {{task?.requiringEndDate | date:"yyyy年MM月dd日"}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="task?.customerContact!=null">
    客户联系方式
    <ion-note item-right>
      {{task?.customerContact}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="task?.parentProduct!=null">
    所属产品
    <ion-note item-right>
      {{task?.parentProduct}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="task?.parentProject!=null">
    所属项目
    <ion-note item-right>
      {{task?.parentProject}}
    </ion-note>
  </ion-item>
  <ion-item>
    OC负责人
    <ion-note item-right>
      {{task?.primaryOC}}
    </ion-note>
  </ion-item>
  <ion-item>
    执行负责人
    <ion-note item-right>
      {{task?.primaryExecutor}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="task?.otherExecutors!=null">
    其它相关人员
    <ion-note item-right>
      {{task?.otherExecutors}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="task?.planningBeginDate!=null">
    计划开始时间
    <ion-note item-right>
      {{task?.planningBeginDate | date:"yyyy年MM月dd日"}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="task?.planningEndDate!=null">
    计划结束时间
    <ion-note item-right>
      {{task?.planningEndDate | date:"yyyy年MM月dd日"}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="task?.realBeginDate!=null">
    实际开始时间
    <ion-note item-right>
      {{task?.realBeginDate | date:"yyyy年MM月dd日"}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="task?.realEndDate!=null">
    实际结束时间
    <ion-note item-right>
      {{task?.realEndDate | date:"yyyy年MM月dd日"}}
    </ion-note>
  </ion-item>
  <ion-item>
    任务状态
    <ion-note item-right>
      {{task?.status}}
    </ion-note>
  </ion-item>
  <ion-item *ngIf="task?.percent!=null">
    任务进度
    <ion-note item-right>
      {{task?.percent}}%
    </ion-note>
  </ion-item>
</ion-content>
