page-task-detail-popover {
  .item-ios .item-button {
    font-size: 1.9rem;
  }
  .item-md .item-button {
    font-size: 1.9rem;
  }
  [padding],
  [padding] .scroll-content {
    padding: 0px;
  }
}
