<!--
  Generated template for the Signin page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title item-center>任务一览</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新页面" refreshingSpinner="circles" refreshingText="刷新中......">
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let task of tasks" (click)="showDetail({taskId: task.id})">
      <h2>
        <ion-icon name="list" item-left></ion-icon>{{task.name}}</h2>
      <p *ngIf="task.status==='进行中'">计划完成日期：{{task.planningEndDate | date:"yyyy年MM月dd日"}}</p>
      <p *ngIf="task.status==='已完成' || (task.status==='已关闭' && task.realEndDate!=null)">实际完成日期：{{task.realEndDate | date:"yyyy年MM月dd日"}}</p>
      <div item-right>{{task.status}}</div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="circles" loadingText="获取更多数据......">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
