<!--
  Generated template for the Signin page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title item-center>任务一览</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="createTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding (touchend)="showDetail(touchTaskId)">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新页面" refreshingSpinner="circles" refreshingText="刷新中......">
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="searchCriteria" (ionInput)="searchTask($event)"></ion-searchbar>
  <ion-card *ngFor="let task of tasks" (touchstart)="touchTaskId=task.id" [ngClass]="{'card-activated': touchTaskId === task.id}">
    <ion-card-content [task-status]="task">
      <ion-row>
        <h2>{{task.name}}</h2>
      </ion-row>
      <ion-row>
        <ion-col width-80>
          <p *ngIf="task.status==='进行中' ">计划完成日期：{{task.planningEndDate | date:"yyyy年MM月dd日 "}}</p>
          <p *ngIf="task.status==='已完成' || (task.status==='已关闭' && task.realEndDate!=null)">实际完成日期：{{task.realEndDate | date:"yyyy年MM月dd日 "}}</p>
        </ion-col>
        <ion-col width-20 right class="taskstatus">
          <p [task-status-text]="task">{{task.status}}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="circles" loadingText="获取更多数据......">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
